<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id ="app"> 
        <input type="text" v-model="id">
        <input type="text" v-model="name">
        <input type="button" value="添加" @click="something">
        <!-- v-for 循环时，key只能使用number或string型 -->
        <!-- key 必须使用v-bind绑定 -->
        <p v-for="item in list" :key="item.id">
            <input type="checkbox" name="id">{{item.name}}
        </p>
    </div>

    <script>
     //创建Vue实例,得到 ViewModel
     var vm = new Vue({
        el: '#app',
        data: {
            id:'',
            name:'',
            list:[
                {id:1,name:'张三'},
                {id:2,name:'李四'},
                {id:3,name:'王武'},
                {id:4,name:'刘能'},
                {id:5,name:'尼古拉斯.赵四'}
            ]
        },
        methods: {
            something(){
                this.list.push({id:this.id,name:this.name})
            }
        }
     });
    </script>
</body>

</html>